*
{
    margin: 0;
    padding: 0;
}
/* navigation-bar open */
nav
{
    display: block;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
    background: #FFFDC1;
}
.nav-links
{
    flex: 1;
    text-align: center;
}
.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a
{
    text-decoration: none;
    font-size: 22px;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    color: #764A34;
    transition: color;
}
.nav-links ul li a:hover
{
    color:rgb(84, 186, 80);
}
/* navigation-bar close */

/* banner open */
.introduce
{
    width: 100%;
    height: 80vh;
    background: whitesmoke;
}
.introduce p
{
    text-align: center;
    font-size: 5vh;
    font-family: 'Righteous', cursive;
}
.introduce h1
{
    text-align: center;
    font-size: 25vh;
    color: #62cd62;
}
/* banner close */

/* footer open */
.footer
{
    position: relative;
    width: 100%;
    height: 66px;
    background: #62cd62;
    box-sizing: border-box;
    text-align: center;
}
/* footer close */
